body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #91c6f1; /* Blue background color */
  color: #423c3c; /* Text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 600px;
  background-color: #f5f5f5; /* Light grey background color */
  padding: 40px; /* Added spacing */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for card-like appearance */
  border: 2px solid black; /* Black border */
}

input[type="text"] {
  width: calc(100% - 80px);
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #bfe3f7; /* Light blue background color for input */
}

button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.center-button {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px; /* Increased margin */
  counter-increment: my-awesome-counter;
}

li::before {
  content: counter(my-awesome-counter) ". ";
  color: #6c757d; /* Counter color */
  font-weight: bold;
  margin-right: 5px;
}

li button {
  margin-left: 10px;
}

.input-container {
  display: flex;
  justify-content: space-between;
}
